/* Base styles - inherited by everything */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #600b14;
  background-color: #ec8f30;
  margin: 0;
}

/* Make the h1 look like a banner */
h1 {
  color: #fdf2d1;
  font-size: 2em;
  /* 32px by default (16 x 2 = 32) */
  font-weight: 400;
  background-color: #500911;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
  text-align: center;
}

/* Remove space above H2 elements */
h2 {
  margin-top: 0;
}

/* 
/*
     Style the <footer> element
     We can set the font-size, color and text-align properties here
     and they will be inherited by elements contained within the <footer>
   */
footer {
  text-align: center;
  background-color: white;
  color: black;
  padding: 1em;
  font-size: 0.875em;
  /* 14px  by default (16 x 0.875 = 14) */
}

/* +++ Everything below this comment is for the exercise +++ */

/* This rule is for the <div> that encloses the whole page  on mobile
  */
.page-container {
  width: 90%;
  padding: 0.5em;
  background-color: white;
  margin: 0 auto;
}

@media screen and (min-width: 37.5em) {
  .page-container {
    width: 90%;
    padding: 0.5em;
    background-color: #fff;
  }

  body {
    margin-top: 1em;
  }
}

/* This rule is for the main content of the page */
main {
  padding: 2em 0;
  /* display: grid; 
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;*/
}

/* fixing articles 600   in relation to displaying on mobile and laptop*/
@media screen and (min-width: 37.5em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1 em;
  }
}

/* This grouped selector rule applies to both of the "regions" */
.html-feature,
.css-feature {
  padding: 1em;
}

/* This rule is for the HTML article */

.html-feature {
  background-color: #ffbc8f;
  /* pale peach/orange */
}

.css-feature {
  background-color: #fff59c;
  /* pale peach/orange */
}

/* 37.5em only when screen width is less than 
    @media screen and (min-width: 37.5em) { 
     .html-feature { 
       margin: 0 0 1em 0; /* pale yellow  
    }
  } */