body {
  font-family: sans-serif;
  background-color: rgb(230, 243, 250);
}

h1 {
  text-align: center;
  color: rgb(8, 8, 24);
  font-size: 40px;
  border: 2px solid black;
  background-color: rgb(0, 140, 255);
}

.section {
  /*  form */
  border: 2px solid black;
  margin: 30px 40px 30px 40px;
  padding: 50px;
  text-align: centre;
}

main {
  display: flex;
}

.test {
  border: 2px solid black;
  margin: 30px 40px 30px 40px;
  padding: 50px;
  text-align: centre;
}

p {
  /* color: #226800; */
  font-style: italic;
  font-style: regular times new roman;
  font-weight: 1.5em;
  padding: 3em;
  text-align: center;
  color: black;
}

/* getting the nav bar with bullet points and going horizontal */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #657b4b; */
}

li {
  float: left;
  font-size: 1.5em;
}

li a {
  display: block;
  padding: 2px;
  font-size: 1em;
}

/* .navigation {  
  border: 1px 1px 1px 1px;
  color: #4c0072;
   border-style: solid; 
  /* list-style-type: none; 
  margin: 0;
  padding: 5px 10px;*/
/* display: flex; 
  background-color: #d9eece;
}*/
/* .navigation {
  list-style-type: none;
  margin: 0;
  padding: 2px 5px;
  /* background-color: rgb(0, 110, 255); */
/* background-color: #d9eece; 
  display: flex;
}

.navigation li {
  text-decoration: none;
  color: #680000;
  font-style: bold;
  display: block;
  padding: 0.9 1em;
  font-size: 2em;
  background-color: #c1ff4d;
 border-radius: 8px; */
/* transition: background-color 0.5s ease-in-out color 0.5s ease-in-out;  */
/* transitions out and in take .5 seconds... */
/*
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  background-color: #c4e881;
}

.navigation .selected {
  border: 2px solid red;
} */

h3 {
  background-color: yellow;
  color: black;
  padding: 10px;
  font-style: italic;
}

.banner .flag {
  display: flex;
}

.qualities {
  padding-left: 50px;
}

/* .flag { 
  display: flex;
}*/

h4 {
  font-size: 3em;
}

.field-error {
  color: red;
  font-weight: bold;
}

textarea {
  display: block;
  margin: 1rem 0;
}

/* Style the navigation bar and links */
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 110, 255);
  /* display: flex; */
}

/* @media screen and (min-width: 37.5em) { 
  .navigation {
    display: flex;
  }
  }*/
.navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: .75em 1em;
}

@media screen and (min-width: 30em) {
  .navigation {
    display: flex;
  }
}

.navigation a:hover {
  background-color: #00488d;
}

/*
     Style the <footer> element
     We can set the font-size, color and text-align properties here
     and they will be inherited by elements contained within the <footer>
   */